<!-- Content -->

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Ettevõttest</h2>
    </header>
    <div class="container">
        <!-- Content -->
        <section id="content">
            <p><span class="image right"><img src="images/other/other 007.jpg" alt="" /></span>Kraus Ehituse näol on tegemist isa-poja ühisprojektiga, mille peamiseks tegevusalaks on sanitaartehniliste ruumide ehitus- ja remonditeenuse pakkumine ning plaatimistööde teostamine.<blockquote>"Vannitoad, tualettruumid, saunad ja esikud- ei ole vahet, millise hooneosaga on tegemist. Meie südameasjaks on kvaliteetse ehitus- ja remonditeenuse pakkumine kliendi soovidest ja vajadustest lähtuvalt. " S. Kraus</blockquote>
                Missioon: 100% rahulolu- ja kvaliteedigarantiiga vannitubade ehituse ning remonditeenuse pakkumine lähtuvalt iga kliendi vajadustest.
                Visioon: Vannitubade ehituse ja remondi terviklahenduse pakkumine sisekujundusest võtmed-kätte lahenduseni.</p>
            </p>

                <h4>Põhiväärtused:</h4>
                <ul>
                    <li>Personaalne ja kliendikeskne lähenemine: iga klient ja projekt on ainulaadne ning väärt vaid parimat.</li>
                    <li>Pühendumus: suhtume iga kliendi soovidesse ülima tähelepanelikkusega ning täidame seatud eesmärke pühendumusega.</li>
                    <li>Koostöö: parima tulemuse võti seisneb nii kliendi kui ka meeskonnaliikmete omavahelises koostöös.</li>
                </ul>
        </section>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
    <h2>Soovid meid oma remonditöid teostama?</h2>
    <ul class="actions">
        <li><a href="#kontakt" class="button large">Küsi pakkumist</a></li>
    </ul>
</section>