<!-- Banner -->
<section id="banner">
    <div class="inner">
        <h2>Sanitaartehniliste ruumide ehitus ja remont </h2>
        <p>Tegeleme sanitaartehniliste ruumide ehituse- ja remonditeenuse pakkumise ning<br>plaatimistööde teostamisega.</p>
        <ul class="actions special">
            <li><a href="#contact" class="button large scrolly">Küsi pakkumist</a></li>
        </ul>
    </div>
</section>

<!-- Services -->
<section id="three" class="wrapper style1">
    <div class="container">
        <header class="major">
            <h2>Milliseid teenuseid pakume</h2>
            <p>Siin on välja toodud peamised remonditööde liigid, mida Krausehitus OÜ teeb</p>
        </header>
        <div class="row">
            <div class="col-4 col-6-medium col-12-small">
                <article class="box post">
                    <a href="#bathroom-renovation" class="image fit"><img src="images/front/front 002.jpg" alt="" /></a>
                    <h3>Vannitubade remont</h3>
                    <p></p>
                    <ul class="actions special">
                        <li><a href="#bathroom-renovation" class="button">Loe edasi</a></li>
                    </ul>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box post">
                    <a href="#tiling" class="image fit"><img src="images/front/front 003.jpg" alt="" /></a>
                    <h3>Plaatimine ja vuukimine</h3>
                    <p></p>
                    <ul class="actions special">
                        <li><a href="#tiling" class="button">Loe edasi</a></li>
                    </ul>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box post">
                    <a href="#hydro-isolation" class="image fit"><img src="images/front/front 006.jpg" alt="" /></a>
                    <h3>Hüdroisolatsioon</h3>
                    <p></p>
                    <ul class="actions special">
                        <li><a href="#hydro-isolation" class="button">Loe edasi</a></li>
                    </ul>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box post">
                    <a href="#furnitures" class="image fit"><img src="images/front/front 001.jpg" alt="" /></a>
                    <h3>Furnituuride paigaldus</h3>
                    <p></p>
                    <ul class="actions special">
                        <li><a href="#furnitures" class="button">Loe edasi</a></li>
                    </ul>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box post">
                    <a href="#jakob-systems" class="image fit"><img src="images/front/front 005.jpg" alt="" /></a>
                    <h3>Jakob tross-süsteemid</h3>
                    <p></p>
                    <ul class="actions special">
                        <li><a href="#jakob-systems" class="button">Loe edasi</a></li>
                    </ul>
                </article>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <article class="box post">
                    <a href="#consultation" class="image fit"><img src="images/front/front 004.jpg" alt="" /></a>
                    <h3>Konsultatsioon</h3>
                    <p></p>
                    <ul class="actions special">
                        <li><a href="#consultation" class="button">Loe edasi</a></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section id="two" class="wrapper style2">
    <div class="container">
        <div class="row gtr-uniform">
            <div class="col-4 col-6-medium col-12-small">
                <section class="feature solid fa-award">
                    <h3>Kvaliteetne töö</h3>
                    <p>100% rahulolu- ja kvaliteedigarantiiga vannitubade ehituse ning remonditeenuse pakkumine lähtuvalt iga kliendi vajadustest.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="feature solid fa-smile-wink">
                    <h3>Personaalne ja kliendikeskne lähenemine</h3>
                    <p>Iga klient ja projekt on ainulaadne ning väärt vaid parimat.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="feature solid fa-grin-beam-sweat">
                    <h3>Pühendumus</h3>
                    <p>Suhtume iga kliendi soovidesse ülima tähelepanelikkusega ning täidame seatud eesmärke pühendumusega.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="feature solid fa-handshake">
                    <h3>Koostöö</h3>
                    <p>Parima tulemuse võti seisneb nii kliendi kui ka meeskonnaliikmete omavahelises koostöös.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="feature solid fa-thumbs-up">
                    <h3>Rohkem kui 10 aastat kogemust</h3>
                    <p>Rohkem kui 10 aastat kogemust sanitaarruumide remonttööde teostamisel.</p>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <section class="feature solid fa-coins">
                    <h3>Parim hinna ja kvaliteedi suhe</h3>
                    <p>Suudame pakkuda teile remonttööde teostamiseks soodsa ja hea hinna.</p>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
    <h2>Soovid meid oma remonditöid teostama?</h2>
    <ul class="actions">
        <li><a href="#kontakt" class="button large">Küsi pakkumist</a></li>
    </ul>
</section>