<!-- Content -->

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Konsultatsioon</h2>
    </header>
    <div class="container">
        <!-- Content -->
        <section id="content">
            <img src="images/front/front 004.jpg" class="image fit" alt="" />
            <h3>Konsultatsioon</h3>
            <p>Ehitus- ja remonditööde planeerimisel võib sageli tekkida arvukaid küsimusi selle kohta, kuidas ühte või teist tööd teostada saab ning millised vahendid ja ehitusmaterjalid selleks vajalikud on.  Materjalikulu hoolikas ja õigeaegne planeerimine aitab säästa aega ning raha.</p>
            <p>Lisaks ehitus- ja remonditööde teostamisele pakume ka töödele eelnevat konsultatsiooni ning aitame koostada ostunimekirja.</p>
            <p>Soovikorral saame abistada ka materjalide transpordiga (<a href="#transport">vt siit</a>).</p>
        </section>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
    <h2>Soovid meid oma remonditöid teostama?</h2>
    <ul class="actions">
        <li><a href="#kontakt" class="button large">Küsi pakkumist</a></li>
    </ul>
</section>