<!-- Content -->

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Furnituuride paigaldus</h2>
    </header>
    <div class="container">
        <!-- Content -->
        <section id="content">
            <img src="images/front/front 001.jpg" class="image fit" alt="" />
            <h3>Furnituuride paigaldus</h3>
            <p>Interjöörist aitavad terviku luua ning sellele lõppviimistluse anda sisustustarvikud. Nagid, WC-paberi ja -harja hoidjad, käepidemed, peeglid jt aksessuaarid suurendavad vannitoa, dušširuumi või sauna kasutusmugavust ja annavad isikupära.</p>
            <p>Mõistes detailide tähtsust, pakume oma klientidele soovikorral ka furnituuri paigaldust.</p>
            <p>Paigaldame nii kliendi poolt välja valitud tarvikuid kui ka nõustame valiku tegemisel ja toodete soetamisel.</p>
            <h4>Colombo vannitoatarvikud</h4>
            <p>Eksklusiivsema stiili pooldajatele soovitame tutvuda Colombo (Itaalia) vannitoatarvikutega. Colombo vannitoatarvikutega saate tutvuda siin: <a href="http://fiskostar.ee/failid/Colombo%20VT%202017.pdf">Colombo vannitoatarvikud</a></p>
            <div class="box alt">
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-4 col-4-small"><a data-fancybox="furnitures" href="images/furnitures/furnitures 007.jpg"><span class="image fit"><img src="images/furnitures/furnitures 007.jpg" alt="" /></span></a></div>
                    <div class="col-4 col-4-small"><a data-fancybox="furnitures" href="images/furnitures/furnitures 008.jpg"><span class="image fit"><img src="images/furnitures/furnitures 008.jpg" alt="" /></span></a></div>
                    <div class="col-4 col-4-small"><a data-fancybox="furnitures" href="images/furnitures/furnitures 009.jpg"><span class="image fit"><img src="images/furnitures/furnitures 009.jpg" alt="" /></span></a></div>
                </div>
            </div>
        </section>
    </div>

</section>



<!-- CTA -->
<section id="cta" class="wrapper style3">
    <h2>Soovid meid oma remonditöid teostama?</h2>
    <ul class="actions">
        <li><a href="#kontakt" class="button large">Küsi pakkumist</a></li>
    </ul>
</section>