<!-- Content -->

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Plaatimistööd</h2>
    </header>
    <div class="container">
        <!-- Content -->
        <section id="content">
            <img src="images/front/front 003.jpg" class="image fit" alt="" />
            <h3>Plaatimine ja vuukimine</h3>
            <p>Plaatimine on täpsust nõudev töö, mis kvaliteetse teostamise puhul kestab ning pakub silmailu aastakümneteks. Kvaliteetselt teostatud plaatimistöö ei ole pelgalt plaatide liimimine põrandale või seinale. See koosneb kindlatest tööetappidest, mille hoolikal teostamisel on olulisel kohal täpsus, kvaliteetsed materjalid, töövahendeid ning kogemus.</p>
            <h4>Plaatimistööde peamised tööetapid:</h4>
            <ul>
                <li>aluspinna ettevalmistus</li>
                <li>hüdroisolatsiooni teostamine</li>
                <li>plaatide kinnitamine plaadiseguga</li>
                <li>vuukimine</li>
                <li>silikoonimine</li>
                <li>pindade pesemine</li>
            </ul>
            <p>Vältimaks ebameeldivaid probleeme tulevikus (lekked ja sealt tulenevad kindlustusjuhtumid, lahti tulevad plaadid jne) soovitame plaatimistööd usaldada alati profesionaalide teha.</p>
            <div class="box alt">
                <div class="row gtr-50 gtr-uniform">
                    <div class="col-6 col-6-small"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
                    <div class="col-6 col-6-small"><span class="image fit"><img src="images/pic02.jpg" alt="" /></span></div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style3">
    <h2>Soovid meid oma remonditöid teostama?</h2>
    <ul class="actions">
        <li><a href="#kontakt" class="button large">Küsi pakkumist</a></li>
    </ul>
</section>